script(src="https://code.jquery.com/jquery-2.2.4.min.js")
script(src="js/vendors.js")
script(src="js/main.js")
script(src="libs/foundation-6.3.1/js/foundation.min.js")
// script(src="js/countUp.min.js") 
