
link(rel="stylesheet" href="css/fonts.css")
link(rel="icon" href="images/favicon.ico" type="image/x-icon")
link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
link(rel="stylesheet" href="libs/foundation-6.3.1/css/foundation.min.css")
