//---------
$RobotoBold:'RobotoBold';
$RobotoLight:'RobotoLight';
$RobotoMedium:'RobotoMedium';
$RobotoRegular: 'RobotoRegular';

$HNC-Light:'HelveticaNeueCyr-Light';
$HNC-Medium:'HelveticaNeueCyr-Medium';
$HNC-Thin:'HelveticaNeueCyr-Thin';

$PT-Sans-Bold:'PT-Sans-Bold';
$PT-Sans-Regular:'PT-Sans-Regular';
$PT-Sans-SemiBold:'PT-Sans-SemiBold';
$PT-Sans-Light:'PT-Sans-Light';
//----------
